body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.controls {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover, select:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    margin-left: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    cursor: pointer;
}

#quote-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

#quote-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.dark-mode #quote-box {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}


#quote {
    font-size: 1.25em;
    line-height: 1.5;
    margin: 0;
}


@media (max-width: 600px) {
    button, select {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}


.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode body {
    background-color: #121212;
}

.dark-mode button {
    background-color: #444;
}

.dark-mode button:hover {
    background-color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode select {
    background-color: #333;
    border-color: #555;
    color: #e0e0e0;
}
